<% include ./templates/header.html %>
	<% include ./templates/nav.html %>
	<div class="container row">
		<div class="col s12 m6">
			<div class="card large hoverable">
				<div class="card-image">
					<i class="material-icons icon-project">movie</i>
				</div>
				<div class="card-content">
					<h4 class="card-quote">"DC? Marvel? Vertigo? Wich one is the best?"</h4>
					<p>Manage and create Studios by accessing the Studios page.</p>
				</div>
				<div class="card-action center">
					<a href="/studios" class="btn waves-effect waves-light">
						<i class="material-icons right">arrow_forward</i>
						<span>Studio page</span>
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m6">
			<div class="card large hoverable">
				<div class="card-image">
					<i class="material-icons icon-project">face</i>
				</div>
				<div class="card-content">
					<h4 class="card-quote">"With great power, comes great responsibility."</h4>
					<p>Manage and create Heroes by accessing the Heroes page.</p>
				</div>
				<div class="card-action center">
					<a href="/heroes" class="btn waves-effect waves-light">
						<i class="material-icons right">arrow_forward</i>
						<span>Heroes page</span>
					</a>
				</div>
			</div>
		</div>
	</div>
<% include ./templates/footer.html %>
