<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>C.R.U.D Heroes</title>

		<!-- JQuery -->
		<!-- <script src="js/jquery-2.2.1.js"></script> -->

		<!--Import Google Fonts-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

		<!--Import materialize.css-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		<!-- incluindo css -->
		<link rel='stylesheet' href='/stylesheets/style.css' />

	</head>

	<body class="body-index">
		<nav>
			<div class="nav-wrapper">
				<a href="/" class="brand-logo">C.R.U.D Heroes</a>
			</div>
		</nav>

    <div class="container row">
      <div class="col s12 m6">
				<div class="card large hoverable">
					<div class="card-image">
						<i class="material-icons icon__project">face</i>
						<span class="card-title">Heroes</span>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information.
						I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action center">
						<a href="/heroes" class="btn waves-effect waves-light">
							<i class="material-icons right">arrow_forward</i>
							<span>Heroes page</span>
						</a>
					</div>
				</div>
			</div>

      <div class="col s12 m6">
				<div class="card large hoverable">
					<div class="card-image">
						<i class="material-icons icon__project">movie</i>
						<span class="card-title">Studios</span>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information.
						I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action center">
						<a href="/" class="btn waves-effect waves-light">
							<i class="material-icons right">arrow_forward</i>
							<span>Studio page</span>
						</a>
					</div>
				</div>
      </div>
    </div>

		<!--JavaScript at end of body for optimized loading-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
