input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--pink);
    -webkit-box-shadow: 0 1px 0 0 var(--pink);
    box-shadow: 0 1px 0 0 var(--pink);
  }
  
  input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: var(--pink);
  }